.service-info {
    max-width: 800px; /* Điều chỉnh chiều rộng tối đa của form */
    margin: 0 auto; /* Căn giữa form */
    padding: 20px;
    position: relative; /* Thêm để sử dụng positioning */
}
.service-info h2 {
    text-align: left;
    font-size: 26px;
    color: #1B374E;
    margin: 0;
    /* Xóa margin mặc định */
    padding-bottom: 6px;
    /* Khoảng cách nhỏ dưới tiêu đề */
}

.step-subtext-container {
    display: flex;
    justify-content: space-between;
    margin: 0; /* Xóa margin mặc định */
    padding-bottom: 15px; /* Khoảng cách giữa subtext và nhóm tiếp theo */
}

.step {
    font-size: 14px; /* Kích thước chữ cho Chú thích */
    color: #90A3BF; /* Màu chữ */
    margin-left: auto; /* Đẩy sang bên phải */
}

.subtext {
    font-size: 14px; /* Kích thước chữ cho Chú thích */
    color: #90A3BF; /* Màu chữ */
    text-align: left; /* Căn trái cho chú thích */
}

.checkbox-container {
    border-radius: 8px; /* Bo tròn các góc */
    padding: 25px; /* Khoảng cách bên trong ô */
    background-color: #FAF6F3; /* Màu nền cho ô */
    margin-top: 15px;
    margin-bottom: 10px;
}

.form-group1 {
    display: flex; /* Sử dụng flexbox để căn chỉnh */
    align-items: center; /* Căn giữa checkbox và nhãn theo chiều dọc */
    justify-content: flex-start; /* Đặt checkbox và nhãn cạnh nhau */
}

input[type="checkbox"] {
    margin-right: 10px; /* Khoảng cách giữa checkbox và nhãn */
    transform: scale(1.2); /* Phóng to checkbox */
}

.form-group1 label { 
    font-size: 16px;
    font-weight: 500;
    color: #1B374E;
    margin-left: 5px; /* Khoảng cách giữa checkbox và nhãn */
}

.line {
    width: 100%; /* Đảm bảo dòng kẻ chiếm toàn bộ chiều rộng container */
    height: 1px;
    background-color: #ccc; /* Màu của dòng kẻ */
    border: none; /* Loại bỏ các đường viền mặc định của <hr> */
    margin: 10px 0; /* Khoảng cách trên và dưới dòng kẻ */
}

