.chinhanh-nhatrang{
    margin: 0;
    padding: 0;
}
.header-cnnt {
    position: relative;
    overflow: hidden;
    height: 515px;
    width: 100%;
}
.img-header-cnnt {
    width: 100%;
    height: 515px;
    object-fit: cover;
    z-index: 1; /* Đảm bảo ảnh nằm trên cùng */
}
.slick-dots {
    position: absolute;
    bottom: 10px; /* Điều chỉnh vị trí nếu cần */
    left: 50%;
    transform: translateX(-50%);
}
.slick-dots li {
    margin: 0 1px; /* Khoảng cách giữa các dot (giảm khoảng cách) */
}
.container-cnnt{
    display: flex;
    flex-direction: column; /* Changed to column for a stacked layout */
    align-items: center; /* Center items horizontally */
    background-color: white;
}
.text-header-cnnt{
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #1B374E;
}
.tiennghi-cnnt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; /* Space between image and text */
    width: 100%; /* Ensures it takes the full width */
    background-color: #FAF6F3;
    height: 350px;
}
.tiennghi-cnnt img{
    width: 350px;
    height: auto;
}
.text-tiennghi-cnnt{
    max-width: 750px;
}
.text-tiennghi-cnnt h2{
    font-size: 30px;
    font-weight: 400;
    color: #1B374E;
    text-align: left;
    margin: 0 0 50px 0; /* Adjusted margin for better spacing */
}
.text-tiennghi-cnnt p{
    font-size: 17px;
    color: #1B374E;
    text-align: left;
}