.ds-phong-danang{
    margin: 0;
    padding: 0;
}
.header-img-dn img{
    width: 100%;
    height: 515px;
}
.container-dsphong-danang{
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    margin-bottom: 30px;
}
.breadcrumb{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.breadcrumb img{
    margin-left: 10px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
.breadcrumb h3{
    font-size: 24px;
    font-weight: 400;
    color: #1B374E;
}
/* .breadcrumb-dsphong-danang{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.breadcrumb-dsphong-danang img{
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
.breadcrumb-dsphong-danang h3{
    font-size: 24px;
    font-weight: 500;
    color: #1B374E;
} */
.room-filter{
    margin-left: auto;
}
.room-filter select{
    padding: 5px;
    width: 220px;
    height: 40px;
    font-size: 14px;
    color: #585D6D;
    border-radius: 5px;
    font-family: 'Lora';
}
.room-filter select option{
    color: #585D6D;
    font-family: 'Lora';
}
.room-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.room-card{
    overflow: visible;
    position: relative;
    padding-bottom: 15px;
}
.room-card img{
    width: 397px;
    height: 261px;
    cursor: pointer;
    border-radius: 5px;
}
.room-info{
    margin-top: 10px;
}
.room-info h3{
    font-size: 19px;
    color: #022B60;
    margin: 0;
    text-align: left;
}
.details{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #585D6D;
}
.details span{
    display: flex;
    align-items: center;
}
.details img{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.sold-out {
    position: absolute;
    background-color: #D9D9D9;
    color: #585D6D;
    padding: 5px 10px;
    font-size: 12px;
    left: 0px; /* Adjust left positioning */
    bottom: -13px; /* Position at the bottom of the card */
}