body {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px; /* Tăng khoảng cách padding */
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.logo {
    display: flex;
    align-items: center; /* Căn giữa hình ảnh logo và văn bản logo theo chiều dọc */
    flex-shrink: 0; /* Giữ logo ở kích thước cố định */
    top: 10px;
}

.logo img {
    height: 50px;
}

.logo span {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 10px; /* Khoảng cách giữa logo và văn bản */
    color: #1B374E;
}

nav {
    display: flex;
    margin-right: 5px;
}

nav ul {
    display: flex; /* Sắp xếp các mục nằm ngang */
    list-style-type: none; /* Xóa dấu chấm */
    padding: 0;
    gap: 30px; /* Khoảng cách giữa các mục */
}

nav ul li {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: normal; /* Đặt chữ mặc định là thường */
    font-size: 1.2em;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
    font-size: 1.2em;
}

nav a:hover {
    color: #1B374E;
    font-weight: bold;
}

.nav-link.active {
    border-bottom: 2px solid #1B374E;
    padding-bottom: 1px;
    color: #1B374E;
    font-weight: bold;
}
.nav-profile {
    display: flex;
    align-items: center;
    gap: 50px; /* Khoảng cách giữa cờ và profile */
    flex-grow: 1; /* Đẩy nav-profile sang bên phải */
    justify-content: flex-end; /* Căn phải */
}

.btn-dangnhap button {
    font-family: 'Lora';
    border: none;
    background: none;
    color: #333;
    font-weight: normal;
    font-size: 1.2em;
    cursor: pointer;
    padding: 10px 0;
    border-bottom: 2px solid transparent;
}

.btn-dangnhap button:hover {
    color: #1B374E;
    font-weight: bold;
    /* border-bottom: 2px solid #1B374E; */
}

.flag img, .profile img {
    height: 30px;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ddd;
    z-index: 1000;
}

.dropdown:hover .dropdown-menu {
    display: block; /* Hiển thị menu khi hover */
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li a {
    text-decoration: none;
    color: black;
    font-weight: normal;
}

.dropdown-menu li a:hover,
.dropdown-menu li a.active {
    color: #1B374E;
    font-weight: bold;
}
