.chinhsach-baomat{
    margin: 40px;
    line-height: 1.5;
}
.chinhsach-baomat h1{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: #1B374E;
}
.container-csbm{
    width: 90%; /* Set to your desired width */
    margin: 0 auto; /* Center the container */
    text-align: left; /* Change to left for paragraph text */
}
.chinhsach-baomat h2{
    font-size: 25px;
    font-weight: 600;
    color: #1B374E;
    margin-top: 20px;
    text-align: left;
}
.chinhsach-baomat p{
    color: #1B374E;
    margin: 20px 0;
    text-align: justify;
}